.app {
  display: flex;
  background: #000;
  color: white;
}

.main-content {
  margin-left: 291px;
  width: calc(100% - 250px);
  background: #000;
  color: white;
  height: 100vh; /* Add this */
  overflow-y: auto; /* Add this - makes only main content scroll */

}

.menu-item.active {
  background: #f5f5f5;
  font-weight: bold;
}
