.reels-container {
  height: 99vh;
  width: 350px;
  margin: 0 auto 0 auto;
  overflow-y: scroll;
  scroll-snap-type: y mandatory; /* this kinda forces the snap effect that shows when scrolling on phones */
  border-radius: 20px;
  border: 2px solid #dbdbdb;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge */ 

}

.reel {
  scroll-snap-align: start; 
  position: relative;
  flex-shrink: 0; /* prev shrinking  */
  height: 100vh;
  scroll-snap-align: start;
}


.reel-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.reel-overlay { /* overlay elements = profile link, audio button */
  position: absolute; /* so that it is on top of the vid */
  bottom: 80px;
  left: 15px; 
  color: white;
}

.profile-link {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
}

.audio-btn {
  background: rgba(0,0,0,0.5); /* semi transparent black*/
  border: none;
  color: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 18px;
  cursor: pointer;
  margin-left: 10px;
}