.sidebar {
  width: 250px;
  height: 100vh;
  background: #000;
  border-right: 1px solid #dbdbdb;
  padding: 20px;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
flex-direction: column;

}

.profile-section {
  text-align: center;
  margin-bottom: 30px;
}

.profile-pic {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  background: #dbdbdb;
  margin: 25px auto 10px;
}

.username {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
}

.menu-items {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 15px;
}

.menu-item.active {
  background: grey;
  font-weight: bold;
}

.menu-item, .settings {
  padding: 10px 5px;
  border-radius: 8px;
  cursor: pointer;
}

.menu-item:hover, .settings:hover {
  background: grey;
}

.settings {
  margin-top: auto;
  margin-bottom: 30px;
}

